{% include 'base.html' %}

{% block body %}
<h1 style="margin-left:3em;"> <strong>Our films catalogue</strong></h1>
<h style="margin-left:7em;"> Don't know what to watch? Click</h> <a href="/rec">Here</a> <h>for some recommendations based on your activity</h>
    <div style="width: 90%; margin: 0 auto;margin-top:3em;">
    {% for film in films_catalogue %}
    <li style="float: left;margin-left:3em;list-style-type: none;text-align:justify;">
    <img width="260" height="146"  src="https://raw.githubusercontent.com/javi3143/flasky/master/app/static/{{ film }}.jpg" sizes="(max-width: 260px) 100vw, 260px" />
    <h3><a href="films/{{ film }}"> {{ film }}</a></h3></li>
    {% endfor %}
    </div>


{% endblock %}
