{% include "base.html" %}

{% block body %}
    <div class='jumbotron text-center'style="background-size: cover;background-image: url('{{ url_for('static', filename='back.jpg') }}'); color:white; width:900px; margin: 0 auto; border-radius: 15px;padding: 1em;">
        {% if current_user.is_authenticated %}
            <h1>Happy to see you again, {{ current_user.username }}!</h1>
            <p class='lead'>You can now click on Films or Series to access our magnificent catalogue</p>
        {% else %}
            <h1>Welcome to MyFlix, Stranger!</h1>
            <p class='lead'>Watch movies &
                TV shows online or stream right to your smart TV,
                game console, PC, Mac, mobile or tablet. Please Register or Login.</p>
        {% endif %}
    </div>

    <p style="text-align:center;"><img src='{{ url_for('static', filename='dog.jpg') }}'> </p>
{% endblock %}
